.DS_Store
.idea/
geodata/
gdrive.sh
geodata.tar.gz
spatial/
app/server/__pycache__
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/pattern.tfplan
terraform_vars.sh